extends layout

block content
  h1= title
  p Welcome Guys, it's #{time} and demo for ci/cd pipeline using Jenkins, Packer and Terraform.
  p: img(src="/images/nyan.gif", title="nyan cat")
  pre #{request_uuid}
